@media only screen and (max-width: 600px) {

    nav {
        display: none
    }

    .video-container {
        width: 100vw;
        height: 100vh;

        & h1 {
            font-size: 1.7rem
        }
    }
    .button1{
        left: 0;
    }
};